/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: "poppins", sans-serif;
  font-size: 18px;
  color: rgb(60, 58, 71);
  line-height: 1.55;
}

/* Elements */
h1 {
  font-size: 4rem;
}
h2 {
  color: #3c3a4786;
  font-weight: 400;
}

h3 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: 2rem;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.3rem;
}

h5 {
}

p {
  margin-bottom: 1rem;
}

p.section-intro {
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(60, 58, 71, 0.7);
}

.dark p.section-intro {
  color: rgba(255, 255, 255, 0.8);
}

p.num {
  font-size: 2.4rem;
  font-weight: 200;
  color: rgb(60, 58, 71, 0.5);
}

a {
  text-decoration: none;
  color: #9f7657;
  font-weight: 700;
}
form label {
  display: block;
  text-align: start;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

form input,
textarea {
  font-family: "poppins", sans-serif;
  font-size: 18px;
  line-height: 1.55;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  width: 100%;
  color: white;
  padding: 1rem;
  resize: none;
}

form input:focus,
form textarea:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.address {
  font-size: 1.75rem;
  font-weight: 200;
  letter-spacing: -1px;
  color: rgba(60, 58, 71, 0.658);
}
/* Container */
.container {
  max-width: 85%;
  margin: 0 auto;
  text-align: center;
}
.container.small {
  max-width: 60%;
  height: 100%;
}

/* Main Header */
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-header h1 {
  margin: 6rem 0 1rem 0;
}
.main-header h2 {
  margin-bottom: 7rem;
}
.btn {
  font-size: 1.3rem;
  padding: 1.3rem 3.5rem;
  border: 1px solid #9f7657;
}
.btn:hover {
  background-color: #3c3a47;
  color: rgb(255, 253, 253);
  border-color: #3c3a47;
}

/* Chairs Section */
.chairs-intro {
  max-width: 60ch;
  margin: 0 auto;
  margin-bottom: 6rem;
}
#our-chairs {
  background-color: #eff0ea;
  max-height: 100%;
  padding: 10rem 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  text-align: start;
}

img {
  max-width: 100%;
}

#our-chairs .container > p {
  margin-top: 6rem;
}

/* Contact form */
#form-contact {
  background-color: #3c3a47;
  padding: 20rem 0;
  color: white;
}

form div {
  margin-bottom: 2rem;
}
form .btn {
  background: transparent;
  border: 1px solid rgb(255, 255, 255, 0.8);
  color: white;
  width: 100%;
}

form .btn:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: #3c3a47;
}
.dark p {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 1.75rem;
}

/* Visit or store */
#visit-our-store {
  height: 100vh;
  padding: 13rem 0 0 0;
}

footer .container.small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container ul {
  margin-top: 5rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

footer .container.small > p {
  color: rgb(60, 58, 71, 0.6);
  max-width: 50ch;
  text-align: center;
}
